In [1]:
# Contar los pares PAIS_AUTOR, PAIS_EJEMPLAR y ver cuales son las "rutas" (pares, siempre q ambos paises sean diferentes) mas frecuentes

In [2]:
import csv
import os
import re
from collections import defaultdict
from collections import Counter
from datetime import datetime
from datetime import timedelta
from string import punctuation

import matplotlib
import numpy as np
import networkx as nx
import pandas as pd
import requests
import seaborn as sns
from matplotlib import pyplot as plt
from SPARQLWrapper import SPARQLWrapper, JSON

# Préstamos

In [3]:
%%time

dtypes = {
    'TITULO': str,
    'AUTOR': str,
    'SUCURSAL': str,
    'COD_BARRAS_LIBRO': str,
    'DEWEY': str,
    'DESC_LOCALIZACION_EJEMPLAR': str,
    'FECHA_PUB': str,
    'PAIS_EJEMPLAR': str,
    'OCUPACION': str,
    'NIVEL_EDUCACION': str,
    'AREA_ESTUDIO': str,
    'SUCURSAL_PRESTAMO': str,
    'SUCURSAL_DEVOLUCION': str,
    'SUCURSAL_DEL_LECTOR': str,
    'COD_BARRAS_LECTOR': str,
    'CATEGORÍA': str,
    'FECHA_PRESTAMO': str,
    'FECHA_REAL_DEVOLUCION': str,
    'DATE_PRESTAMO': pd.tslib.Timestamp,
    'DATE_DEVOLUCION': pd.tslib.Timestamp,
}

prestamos_df = pd.read_csv('prestamos_totales.csv', header=0, dtype=dtypes, parse_dates=['DATE_PRESTAMO', 'DATE_DEVOLUCION'])
prestamos_df = prestamos_df.fillna('')

CPU times: user 19.1 s, sys: 1.26 s, total: 20.3 s
Wall time: 20.3 s

# Autores

In [4]:
%%time

dtypes = {
    'TITULO': str,
    'AUTOR': str,
    'PAIS_EJEMPLAR': str,
    'PAIS_AUTOR': str,
}

autores_df = pd.read_csv('autores3.csv', header=0, dtype=dtypes)
autores_df = autores_df.fillna('')

CPU times: user 4.76 s, sys: 124 ms, total: 4.88 s
Wall time: 4.88 s

In [5]:
autores_df.shape

(3054360, 4)

In [6]:
autores_df.head()

,TITULO,PAIS_EJEMPLAR,AUTOR,PAIS_AUTOR
0,Un bicho extraño,Spain,Mon Daporta,DESCONOCIDO
1,Un bicho extraño,Spain,Mon Daporta,DESCONOCIDO
2,Quisiera tener ...,Mexico,Giovanna Zoboli,DESCONOCIDO
3,Johannes Gutenberg,Spain,Lluís Borràs Perelló,DESCONOCIDO
4,La fantástica leyenda de: la princesa y el dragón,Spain,Sonia Alins,DESCONOCIDO

## Limpiando datos

In [7]:
autores_df = autores_df[
    (autores_df['AUTOR'] != 'DESCONOCIDO') &
    (autores_df['TITULO'] != 'DESCONOCIDO') &
    (autores_df['PAIS_AUTOR'] != 'DESCONOCIDO') &
    (autores_df['PAIS_EJEMPLAR'] != 'DESCONOCIDO')
]

In [8]:
autores_df.shape

(1064910, 4)

In [9]:
autores_df.head()

,TITULO,PAIS_EJEMPLAR,AUTOR,PAIS_AUTOR
10,Adivina en qué pais ...,Spain,Martina Badstuber,Germany
11,Adivina en qué pais ...,Spain,Martina Badstuber,Germany
12,Adivina en qué pais ...,Spain,Martina Badstuber,Germany
14,¡No quiero hacer pipí en el orinal!,Spain,Roser Rius,Mexico
15,¡No quiero hacer pipí en el orinal!,Spain,Roser Rius,Mexico

In [10]:
autores_df.drop_duplicates(['AUTOR', 'TITULO'], inplace=True)

In [11]:
autores_df.shape

(76697, 4)

In [12]:
autores_df.head()

,TITULO,PAIS_EJEMPLAR,AUTOR,PAIS_AUTOR
10,Adivina en qué pais ...,Spain,Martina Badstuber,Germany
14,¡No quiero hacer pipí en el orinal!,Spain,Roser Rius,Mexico
19,Humo,Spain,Antón Fortes Torres,Spain
21,Galleta para perros,Spain,Helen Cooper,United Kingdom
25,Autobio,Spain,Cyril Pedrosa,France

## Resultados

In [13]:
autores_df['TITULO'].nunique()

73916

In [14]:
autores_df['TITULO'].value_counts()

Obras completas                                                 113
Antología poética                                                79
Antología                                                        71
Poemas                                                           61
Cuentos                                                          52
Cuentos completos                                                49
Poesía                                                           46
Obras escogidas                                                  35
Obras                                                            34
Teatro                                                           33
Obra poética                                                     33
Obras selectas                                                   32
Poesía completa                                                  31
Poesías completas                                                26
Antología personal                                               26
Poesías                                                          24
Memorias                                                         22
Teatro completo                                                  20
Poemas escogidos                                                 18
Escritos políticos                                               17
Ensayos                                                          16
Obra completa                                                    15
Autobiografía                                                    15
Correspondencia                                                  14
Selected poems                                                   13
Relatos                                                          13
Mi vida                                                          11
Novelas escogidas                                                11
Filosofía del derecho                                            10
Diarios                                                          10
                                                               ...
Ramón Menéndez Pidal y Rufino José Cuervo : correspondencia       1
Astérix : el golpe de menhir                                      1
Humor negro & hombres de blanco : cincuenta y seis dibujos d      1
El quinteto de Avignon                                            1
Paraíso privado                                                   1
23 histórias de um viajante                                       1
Faltan 10 minutos para dormir                                     1
W. Benjamin, Th. W. Adorno : el ensayo como filosofía             1
La vida y poesía de Federico García Lorca contada a los niño      1
Oposición, insurgencia y amnistía : estudio jurídico y polít      1
El vuelo de la libélula                                           1
Economía de las organizaciones                                    1
La operación Masotta : cuando la muerte también fracasa           1
Palabras del caudillo : 19 Abril 1937 - 19 Abril 1938             1
El baile del conde de Orgel : novela                              1
Etica o El sistema de la doctrina de las costumbres según lo      1
La filosofía de Henri Bergson                                     1
Cuentos de terror del barco negro                                 1
Wind Quintets op.67 nos.1-3                                       1
La palabra frente al vacío filosofía de nagarjuna                 1
Sobre la esencia del sabio y sus manifestaciones en el domin      1
Capitán de altura                                                 1
Always in my heart the song of Ernesto Lecuona.                   1
La pedagogía familiar hoy                                         1
El último mundo burgués                                           1
Semana de poesía - 5 grandes poetas lectura de poemas de Cla      1
Maximiliano y Carlota: (tragedia romántica)                       1
The technological society                                         1
Los etruscos                                                      1
Fundamentos de la meta-técnica                                    1
Name: TITULO, dtype: int64

In [15]:
autores_df['PAIS_EJEMPLAR'].nunique()

130

In [16]:
autores_df['PAIS_EJEMPLAR'].value_counts()

Spain                                 37448
Colombia                               9876
Argentina                              7286
Mexico                                 6792
United States                          3908
France                                 1977
England                                1791
Venezuela                              1134
New York (State)                        855
Chile                                   799
Cuba                                    487
Brazil                                  447
United Kingdom                          439
Peru                                    420
Italy                                   383
Germany                                 294
Ecuador                                 280
California                              156
Uruguay                                 142
Canada                                  138
Switzerland                             114
Austria                                 108
Japan                                   108
Portugal                                103
Costa Rica                               81
Netherlands                              79
Soviet Union                             70
Massachusetts                            68
Germany (East)                           59
Puerto Rico                              53
                                      ...
South Carolina                            2
Scotland                                  2
Jan Mayen                                 2
Thailand                                  2
Rhode Island                              1
Haiti                                     1
Venezuela (Bolivarian Republic of)        1
Malaysia                                  1
Saint-Martin                              1
Serbia                                    1
Albania                                   1
Vatican City                              1
Turkey                                    1
Louisiana                                 1
Kiribati                                  1
Oregon                                    1
Nevada                                    1
Virginia                                  1
Colorado                                  1
New Hampshire                             1
Alabama                                   1
Maine                                     1
Korea, Republic of                        1
Georgia (Republic)                        1
Texas                                     1
Uganda                                    1
Ontario                                   1
Utah                                      1
Palestinian Territory, Occupied           1
Nebraska                                  1
Name: PAIS_EJEMPLAR, dtype: int64

In [17]:
autores_df['AUTOR'].nunique()

22060

In [18]:
autores_df['AUTOR'].value_counts()

William Shakespeare             230
Gabriel García Márquez          177
Diana Uribe                     169
Isaac Asimov                    164
Karl Marx                       160
Jorge Luis Borges               144
Oscar Wilde                     130
Agatha Christie                 129
Friedrich Wilhelm Nietzsche     120
Johann Sebastian Bach           117
Edgar Allan Poe                 116
Octavio Paz                     111
Ludwig van Beethoven            110
Noam Chomsky                    110
Jordi Sierra i Fabra            108
Georges Simenon                 106
Stefan Zweig                    105
Charles Dickens                 105
Pablo Neruda                    103
Jules Verne                     102
Mario Benedetti                 101
Jean Paul Sartre                 96
Miguel de Cervantes Saavedra     96
Federico García Lorca            95
Arthur Conan Doyle               95
Honoré de Balzac                 93
Fernando Pessoa                  93
Sigmund Freud                    92
Aristóteles                      89
Bertrand Russell                 89
                               ...
Aldo Zargani                      1
Raymond Boisdé                    1
Thomas Verny                      1
Madeleine L'Engle                 1
Carl Hiaasen                      1
Leonardo Sanhueza                 1
Michael Watts                     1
Helene Holzman                    1
Helen Epstein                     1
Enrique García Velloso            1
Brian Reffin Smith                1
Robert Etienne                    1
William Fielding Ogburn           1
Costantino Mortati                1
Colin Thiele                      1
Susan Bergman                     1
Aleksander Wat                    1
Fyodor Dostoyevsky                1
James Friskin                     1
Andy Phillips                     1
Richard Ashton                    1
Eden Phillpotts                   1
Chano Domínguez                   1
Jean Noblot                       1
Fritz Eichenberg                  1
Kurt Sontheimer                   1
Georg von Krogh                   1
Birger Sellin                     1
Mark Platts                       1
Marsden Hartley                   1
Name: AUTOR, dtype: int64

In [19]:
autores_df['PAIS_AUTOR'].nunique()

410

In [20]:
autores_df['PAIS_AUTOR'].value_counts()

United States of America                       10910
Spain                                           8153
France                                          7154
United Kingdom                                  6141
Colombia                                        4414
Germany                                         3635
Argentina                                       3354
Italy                                           3207
Mexico                                          2132
Chile                                           1064
Brazil                                          1033
Belgium                                          962
Canada                                           947
United States                                    893
Ireland                                          892
Venezuela                                        867
España                                           856
Cuba                                             810
Switzerland                                      806
Peru                                             694
Austria                                          647
German Empire                                    602
Uruguay                                          572
Austria-Hungary                                  507
Japan                                            496
Netherlands                                      468
Poland                                           465
Portugal                                         434
India                                            391
Australia                                        355
                                               ...
República Popular China                            1
Mauritania                                         1
Arabia Saudita                                     1
Latvian Soviet Socialist Republic                  1
Restoration and Regeneration in Switzerland        1
Duchy of Holstein                                  1
Principality of Lippe                              1
Pahlavi dynasty                                    1
Empire of Japan                                    1
Líbano                                             1
Azerbaiyán                                         1
Saudi Arabia                                       1
Duchy of Saxe-Altenburg                            1
Belgian Congo                                      1
Moldavia                                           1
Dominion of Pakistan                               1
Estados Unidos de Colombia                         1
Tajik Soviet Socialist Republic                    1
Basque Country (greater region)                    1
Reino de Irlanda                                   1
Spanish East Indies                                1
Bahrain                                            1
Kuwait                                             1
Azerbaijan                                         1
Uzbekistan                                         1
Unión entre Suecia y Noruega                       1
French protectorate of Tunisia                     1
Kingdom of Croatia-Slavonia                        1
Saint Kitts and Nevis                              1
Solomon Islands                                    1
Name: PAIS_AUTOR, dtype: int64

# Mapping countries

In [21]:
countries = set(autores_df['PAIS_EJEMPLAR']).union(autores_df['PAIS_AUTOR'])

In [51]:
inv_mappings = defaultdict(set)
for a in countries:
    for b in countries:
        if a != b and a in b:
            inv_mappings[a].add(b)
inv_mappings = dict(inv_mappings)

mapped = set()
for s in inv_mappings.values():
    mapped = mapped.union(s)

unmapped = countries.difference(mapped)

In [52]:
inv_mappings

{'Afghanistan': {'Kingdom of Afghanistan'},
 'Albania': {"People's Socialist Republic of Albania"},
 'Austria': {'Austria-Hungary',
  'Austrian Empire',
  'First Austrian Republic',
  'Republic of German-Austria'},
 'Azerbaijan': {'Azerbaijan Soviet Socialist Republic'},
 'Brazil': {'Empire of Brazil'},
 'Bulgaria': {'Kingdom of Bulgaria', "People's Republic of Bulgaria"},
 'Burma': {'British rule in Burma'},
 'China': {'China (Republic : 1949- )',
  "People's Republic of China",
  'Republic of China (1912–49)',
  'República Popular China'},
 'Colombia': {'Estados Unidos de Colombia',
  'Gran Colombia',
  'United States of Colombia'},
 'Croatia': {'Kingdom of Croatia-Slavonia', 'Socialist Republic of Croatia'},
 'Cuba': {'Captaincy General of Cuba', 'Republic of Cuba (1902–59)'},
 'Denmark': {'Kingdom of Denmark'},
 'Dominica': {'Dominican Republic', 'República Dominicana'},
 'Egipto': {'Jedivato de Egipto'},
 'Egypt': {'Khedivate of Egypt', 'Kingdom of Egypt', 'Sultanate of Egypt'},
 'England': {'Kingdom of England'},
 'Estados Unidos': {'Estados Unidos de Colombia'},
 'Finland': {'Finlandia', 'Grand Duchy of Finland'},
 'Franc': {'France',
  'Francia',
  'Francoist Spain',
  'German military administration in occupied France during World War II',
  'Kingdom of France',
  'Vichy France'},
 'France': {'German military administration in occupied France during World War II',
  'Kingdom of France',
  'Vichy France'},
 'Georgia': {'Georgia (Republic)'},
 'German Confederation': {'North German Confederation'},
 'Germany': {'Allied-occupied Germany',
  'East Germany',
  'Germany (East)',
  'Nazi Germany',
  'West Germany'},
 'Greece': {'Kingdom of Greece'},
 'Guinea': {'Equatorial Guinea'},
 'Hungary': {'Austria-Hungary',
  'Kingdom of Hungary',
  'Kingdom of Hungary (1920–46)'},
 'India': {'Dominion of India', 'Indiana'},
 'Iraq': {'Kingdom of Iraq'},
 'Ireland': {'Kingdom of Ireland',
  'Northern Ireland',
  'Republic of Ireland',
  'United Kingdom of Great Britain and Ireland'},
 'Irlanda': {'Reino Unido de Gran Bretaña e Irlanda', 'Reino de Irlanda'},
 'Italy': {'Kingdom of Italy'},
 'Japan': {'Empire of Japan'},
 'Jersey': {'New Jersey'},
 'Kenya': {'British Kenya'},
 'Kingdom of Great Britain': {'United Kingdom of Great Britain and Ireland'},
 'Kingdom of Hungary': {'Kingdom of Hungary (1920–46)'},
 'Latvia': {'Latvian Soviet Socialist Republic'},
 'Malta': {'Crown Colony of Malta'},
 'Montenegro': {'Serbia and Montenegro'},
 'Morocco': {'French protectorate in Morocco',
  'Spanish protectorate in Morocco'},
 'Mozambique': {'Portuguese Mozambique'},
 'Netherlands': {'Caribbean Netherlands', 'Habsburg Netherlands'},
 'Nevis': {'Saint Kitts and Nevis'},
 'New Zealand': {'Dominion of New Zealand'},
 'Nigeria': {'Colonial Nigeria'},
 'Noruega': {'Unión entre Suecia y Noruega'},
 'Pakistan': {'Dominion of Pakistan', 'East Pakistan'},
 'Países Bajos': {'Provincias Unidas de los Países Bajos'},
 'Peru': {'Viceroyalty of Peru'},
 'Poland': {'Congress Poland', 'Kingdom of Poland (1916–18)'},
 'Polonia': {'Reino de Polonia (1385-1569)'},
 'Portugal': {'Kingdom of Portugal'},
 'Prussia': {'Kingdom of Prussia'},
 'Reino Unido': {'Reino Unido de Gran Bretaña e Irlanda'},
 'Republic of the Congo': {'Democratic Republic of the Congo'},
 'Rhodesia': {'Northern Rhodesia', 'Southern Rhodesia'},
 'Romania': {'Kingdom of Romania', 'Socialist Republic of Romania'},
 'Rusia': {'República Socialista Federativa Soviética de Rusia'},
 'Russia': {'Russia (Federation)',
  'Russian Empire',
  'Russian Republic',
  'Russian Soviet Federative Socialist Republic'},
 'Scotland': {'Kingdom of Scotland'},
 'Serbia': {'Reino de Serbia', 'Serbia and Montenegro'},
 'South Africa': {'Union of South Africa'},
 'Spain': {'Francoist Spain', 'New Spain', 'Restoration (Spain)'},
 'Suecia': {'Unión entre Suecia y Noruega'},
 'Switzerland': {'Restoration and Regeneration in Switzerland'},
 'Tunisia': {'French protectorate of Tunisia'},
 'United Kingdom': {'United Kingdom of Great Britain and Ireland'},
 'United States': {'United States of America',
  'United States of Colombia',
  'United States of the Ionian Islands'},
 'Venezuela': {'Captaincy General of Venezuela',
  'Venezuela (Bolivarian Republic of)',
  'Venezuela Province'},
 'Vietnam': {'Vietnam, North'},
 'Virginia': {'Colony of Virginia'},
 'Württemberg': {'Duchy of Württemberg',
  'Electorate of Württemberg',
  'Kingdom of Württemberg'}}

In [53]:
mappings = {}
for c1 in inv_mappings:
    for c2 in inv_mappings[c1]:
        mappings[c2] = c1

In [54]:
mappings

{'Allied-occupied Germany': 'Germany',
 'Austria-Hungary': 'Austria',
 'Austrian Empire': 'Austria',
 'Azerbaijan Soviet Socialist Republic': 'Azerbaijan',
 'British Kenya': 'Kenya',
 'British rule in Burma': 'Burma',
 'Captaincy General of Cuba': 'Cuba',
 'Captaincy General of Venezuela': 'Venezuela',
 'Caribbean Netherlands': 'Netherlands',
 'China (Republic : 1949- )': 'China',
 'Colonial Nigeria': 'Nigeria',
 'Colony of Virginia': 'Virginia',
 'Congress Poland': 'Poland',
 'Crown Colony of Malta': 'Malta',
 'Democratic Republic of the Congo': 'Republic of the Congo',
 'Dominican Republic': 'Dominica',
 'Dominion of India': 'India',
 'Dominion of New Zealand': 'New Zealand',
 'Dominion of Pakistan': 'Pakistan',
 'Duchy of Württemberg': 'Württemberg',
 'East Germany': 'Germany',
 'East Pakistan': 'Pakistan',
 'Electorate of Württemberg': 'Württemberg',
 'Empire of Brazil': 'Brazil',
 'Empire of Japan': 'Japan',
 'Equatorial Guinea': 'Guinea',
 'Estados Unidos de Colombia': 'Estados Unidos',
 'Finlandia': 'Finland',
 'First Austrian Republic': 'Austria',
 'France': 'Franc',
 'Francia': 'Franc',
 'Francoist Spain': 'Franc',
 'French protectorate in Morocco': 'Morocco',
 'French protectorate of Tunisia': 'Tunisia',
 'Georgia (Republic)': 'Georgia',
 'German military administration in occupied France during World War II': 'Franc',
 'Germany (East)': 'Germany',
 'Gran Colombia': 'Colombia',
 'Grand Duchy of Finland': 'Finland',
 'Habsburg Netherlands': 'Netherlands',
 'Indiana': 'India',
 'Jedivato de Egipto': 'Egipto',
 'Khedivate of Egypt': 'Egypt',
 'Kingdom of Afghanistan': 'Afghanistan',
 'Kingdom of Bulgaria': 'Bulgaria',
 'Kingdom of Croatia-Slavonia': 'Croatia',
 'Kingdom of Denmark': 'Denmark',
 'Kingdom of Egypt': 'Egypt',
 'Kingdom of England': 'England',
 'Kingdom of France': 'Franc',
 'Kingdom of Greece': 'Greece',
 'Kingdom of Hungary': 'Hungary',
 'Kingdom of Hungary (1920–46)': 'Hungary',
 'Kingdom of Iraq': 'Iraq',
 'Kingdom of Ireland': 'Ireland',
 'Kingdom of Italy': 'Italy',
 'Kingdom of Poland (1916–18)': 'Poland',
 'Kingdom of Portugal': 'Portugal',
 'Kingdom of Prussia': 'Prussia',
 'Kingdom of Romania': 'Romania',
 'Kingdom of Scotland': 'Scotland',
 'Kingdom of Württemberg': 'Württemberg',
 'Latvian Soviet Socialist Republic': 'Latvia',
 'Nazi Germany': 'Germany',
 'New Jersey': 'Jersey',
 'New Spain': 'Spain',
 'North German Confederation': 'German Confederation',
 'Northern Ireland': 'Ireland',
 'Northern Rhodesia': 'Rhodesia',
 "People's Republic of Bulgaria": 'Bulgaria',
 "People's Republic of China": 'China',
 "People's Socialist Republic of Albania": 'Albania',
 'Portuguese Mozambique': 'Mozambique',
 'Provincias Unidas de los Países Bajos': 'Países Bajos',
 'Reino Unido de Gran Bretaña e Irlanda': 'Irlanda',
 'Reino de Irlanda': 'Irlanda',
 'Reino de Polonia (1385-1569)': 'Polonia',
 'Reino de Serbia': 'Serbia',
 'Republic of China (1912–49)': 'China',
 'Republic of Cuba (1902–59)': 'Cuba',
 'Republic of German-Austria': 'Austria',
 'Republic of Ireland': 'Ireland',
 'República Dominicana': 'Dominica',
 'República Popular China': 'China',
 'República Socialista Federativa Soviética de Rusia': 'Rusia',
 'Restoration (Spain)': 'Spain',
 'Restoration and Regeneration in Switzerland': 'Switzerland',
 'Russia (Federation)': 'Russia',
 'Russian Empire': 'Russia',
 'Russian Republic': 'Russia',
 'Russian Soviet Federative Socialist Republic': 'Russia',
 'Saint Kitts and Nevis': 'Nevis',
 'Serbia and Montenegro': 'Serbia',
 'Socialist Republic of Croatia': 'Croatia',
 'Socialist Republic of Romania': 'Romania',
 'Southern Rhodesia': 'Rhodesia',
 'Spanish protectorate in Morocco': 'Morocco',
 'Sultanate of Egypt': 'Egypt',
 'Union of South Africa': 'South Africa',
 'United Kingdom of Great Britain and Ireland': 'Kingdom of Great Britain',
 'United States of America': 'United States',
 'United States of Colombia': 'United States',
 'United States of the Ionian Islands': 'United States',
 'Unión entre Suecia y Noruega': 'Suecia',
 'Venezuela (Bolivarian Republic of)': 'Venezuela',
 'Venezuela Province': 'Venezuela',
 'Viceroyalty of Peru': 'Peru',
 'Vichy France': 'Franc',
 'Vietnam, North': 'Vietnam',
 'West Germany': 'Germany'}

In [50]:
# Correct wrong mappings

# del(mappings['Dominican Republic'])
# mappings['Estados Unidos de Colombia'] = 'Colombia'
# del(mappings['France'])
# mappings['Francia'] = 'France'
# mappings['Francoist Spain'] = 'Spain'
# mappings['German military administration in occupied France during World War II'] = 'France'
# del(mappings['Indiana'])
# mappings['Jedivato de Egipto'] = 'Egypt'
# mappings['Kingdom of France'] = 'France'
# del(mappings['New Jersey'])
# mappings['New Spain'] = 'Mexico'
# mappings['North German Confederation'] = 'Germany'
# del(mappings['Northern Ireland'])
# mappings['Provincias Unidas de los Países Bajos'] = 'Netherlands'
# mappings['Reino Unido de Gran Bretaña e Irlanda'] = 'United Kingdom'
# mappings['República Dominicana'] = 'Dominican Republic'
# mappings['República Socialista Federativa Soviética de Rusia'] = 'Russia'
# del(mappings['Saint Kitts and Nevis'])
# mappings['United Kingdom of Great Britain and Ireland'] = 'United Kingdom'
# mappings['United States of America'] = 'United States'
# mappings['United States of Colombia'] = 'Colombia'
# del(mappings['United States of the Ionian Islands'])
# mappings['Unión entre Suecia y Noruega'] = 'Sweden'
# mappings['Vichy France'] = 'France'

In [55]:
unmapped

{'Afghanistan',
 'Alabama',
 'Albania',
 'Alemania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua Atenas',
 'Antigua Roma',
 'Antigua and Barbuda',
 'Arabia Saudita',
 'Argentina',
 'Arizona',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Azerbaiyán',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Basque Country (greater region)',
 'Belarus',
 'Belgian Congo',
 'Belgium',
 'Benin',
 'Bielorrusia',
 'Bolivia',
 'Bourbon Restoration',
 'Brasil',
 'Brazil',
 'British America',
 'British Ceylon',
 'British Empire',
 'British Raj',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Bélgica',
 'California',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Canadá',
 'Canal Zone',
 'Cape Verde',
 'Chile',
 'China',
 'Colombia',
 'Colorado',
 'Congo Belga',
 'Connecticut',
 'Costa Rica',
 'Croacia',
 'Croatia',
 'Crown of Aragon',
 'Crown of Castile',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 'Czechoslovakia',
 "Côte d'Ivoire",
 'Denmark',
 'Dinamarca',
 'District of Columbia',
 'Dominica',
 'Dominion of Newfoundland',
 'Duchy of Brunswick',
 'Duchy of Holstein',
 'Duchy of Milan',
 'Duchy of Salzburg',
 'Duchy of Saxe-Altenburg',
 'Duchy of Schleswig',
 'Dutch East Indies',
 'Dutch Republic',
 'East Africa Protectorate',
 'Ecuador',
 'Egipto',
 'Egypt',
 'El Salvador',
 'Electorate of Bavaria',
 'Electorate of Cologne',
 'Electorate of Saxony',
 'England',
 'Eritrea',
 'España',
 'Estados Unidos',
 'Estonia',
 'Ethiopia',
 'Falkland Islands',
 'Fiji',
 'Filipinas',
 'Finland',
 'First Czechoslovak Republic',
 'First French Empire',
 'First Hungarian Republic',
 'First Portuguese Republic',
 'Florida',
 'Franc',
 'Free City of Lübeck',
 'Free and Independent State of Cundinamarca',
 'French First Republic',
 'French Guiana',
 'French Indochina',
 'French Third Republic',
 'French colonial empire',
 'Georgia',
 'German Confederation',
 'German Empire',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Gold Coast (British colony)',
 'Granadine Confederation',
 'Grand Duchy of Baden',
 'Grand Duchy of Mecklenburg-Schwerin',
 'Grand Duchy of Tuscany',
 'Grecia',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guyana',
 'Habsburg Monarchy',
 'Haiti',
 'Haití',
 'Holy Roman Empire',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Hungría',
 'Iceland',
 'Illinois',
 'Imperio Otomano',
 'Imperio alemán',
 'Imperio aqueménida',
 'Imperio austrohúngaro',
 'Imperio español',
 'Imperio otomano',
 'Imperio romano',
 'Imperio ruso',
 'India',
 'Indonesia',
 'Irak',
 'Iran',
 'Iraq',
 'Ireland',
 'Irlanda',
 'Irán',
 'Israel',
 'Italia',
 'Italy',
 'Jamaica',
 'Jan Mayen',
 'Japan',
 'Japón',
 'Jersey',
 'Jordan',
 'Jorezmitas',
 'July Monarchy',
 'Kazakhstan',
 'Kentucky',
 'Kenya',
 'Kingdom of Bavaria',
 'Kingdom of Bohemia',
 'Kingdom of Galicia and Lodomeria',
 'Kingdom of Great Britain',
 'Kingdom of Hanover',
 'Kingdom of Lombardy–Venetia',
 'Kingdom of Sardinia',
 'Kingdom of Saxony',
 'Kingdom of Yugoslavia',
 'Kingdom of the Two Sicilies',
 'Kiribati',
 'Korea (South)',
 'Korea, Republic of',
 'Kuwait',
 'Kwantung Leased Territory',
 'Kyrgyzstan',
 'Lands of the Crown of Saint Stephen',
 'Latvia',
 'Lebanon',
 'Letonia',
 'Liberia',
 'Libia',
 'Libya',
 'Lithuania',
 'Lituania',
 'Louisiana',
 'Luxembourg',
 'Líbano',
 'Macedonia',
 'Madagascar',
 'Maine',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mandato británico de Palestina',
 'Mandatory Palestine',
 'Margraviate of Brandenburg',
 'Marruecos',
 'Maryland',
 'Massachusetts',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Moldavia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'México',
 'Namibia',
 'Nebraska',
 'Netherlands',
 'Nevada',
 'Nevis',
 'New Caledonia',
 'New Hampshire',
 'New York (State)',
 'New Zealand',
 'Nicaragua',
 'Nigeria',
 'No place, unknown, or undetermined',
 'North Carolina',
 'Noruega',
 'Norway',
 'Ohio',
 'Old Swiss Confederacy',
 'Ontario',
 'Oregon',
 'Ottoman Empire',
 'Pahlavi dynasty',
 'Pakistan',
 'Palestinian National Authority',
 'Palestinian Territory, Occupied',
 'Panama',
 'Panamá',
 'Papal States',
 'Paraguay',
 'Países Bajos',
 'Pennsylvania',
 'Peru',
 'Perú',
 'Philippines',
 'Poland',
 'Polonia',
 'Portugal',
 'Principality of Anhalt',
 'Principality of Lippe',
 'Protectorate of Bohemia and Moravia',
 'Prussia',
 'Puebla',
 'Puerto Rico',
 'Qajar dynasty',
 'Reino Unido',
 'Reino de Inglaterra',
 'Reino de Prusia',
 'Reino de Yugoslavia',
 'Republic of Florence',
 'Republic of New Granada',
 'Republic of Venice',
 'Republic of the Congo',
 'República Checa',
 'República de Génova',
 'República de Weimar',
 'República romana',
 'Rhode Island',
 'Rhodesia',
 'Romania',
 'Rumania',
 'Rusia',
 'Russia',
 'Rwanda',
 'Ryukyu Kingdom',
 'Sacro Imperio Romano Germánico',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Saint-Martin',
 'Saudi Arabia',
 'Saxe-Weimar',
 'Schwarzburg-Sondershausen',
 'Scotland',
 'Second French Empire',
 'Second Hellenic Republic',
 'Second Polish Republic',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Sikkim',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Socialist Federal Republic of Yugoslavia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Carolina',
 'South Korea',
 'Soviet Union',
 'Spain',
 'Spanish East Indies',
 'Spanish Empire',
 'Sri Lanka',
 'Sudan',
 'Sudáfrica',
 'Suecia',
 'Suiza',
 'Sultanate of Zanzibar',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taifa of Murcia',
 'Taiwan',
 'Tajik Soviet Socialist Republic',
 'Tajikistan',
 'Tanzania',
 'Tennessee',
 'Territorios Palestinos',
 'Texas',
 'Thailand',
 'The Bahamas',
 'Trinidad and Tobago',
 'Trinidad y Tobago',
 'Tunisia',
 'Turkey',
 'Turquía',
 'Túnez',
 'Ucrania',
 'Uganda',
 'Ukraine',
 "Ukrainian People's Republic",
 'Ukrainian Soviet Socialist Republic',
 'United Kingdom',
 'United States',
 'Unión Soviética',
 'Uruguay',
 'Utah',
 'Uzbekistan',
 'Uzbekistán',
 'Vatican City',
 'Venezuela',
 'Vermont',
 'Viceroyalty of New Granada',
 'Vietnam',
 'Virginia',
 'Virreinato de Nueva Granada',
 'Washington (State)',
 'Weimar Republic',
 'Wisconsin',
 'Württemberg',
 'Zambia',
 'Zimbabwe',
 'África Occidental Portuguesa'}

In [ ]:
# Correct unmapped

mappings['Alemania'] = 'Germany'
mappings['Antigua Atenas'] = 'Greek'
mappings['Antigua Roma'] = 'Italy'
mappings['Arabia Saudita'] = 'Saudi Arabia'
mappings['Azerbaiyán'] = 'Azerbaijan'
mappings['Basque Country (greater region)'] = 'Spain'
mappings['Brasil'] = 'Brazil'
mappings['British Empire'] = 'United Kingdom'
mappings['Bélgica'] = 'Belgium'
mappings['Canadá'] = 'Canada'
mappings['Congo Belga'] = 'Belgian Congo'
mappings['Croacia'] = 'Croatia'
mappings['Crown of Aragon'] = 'Spain'
mappings['Crown of Castile'] = 'Spain'
mappings['Dinamarca'] = 'Denmark'
mappings['First Czechoslovak Republic'] = 'Czechoslovakia'
mappings['First French Empire'] = 'France'
mappings['First Hungarian Republic'] = 'Hungary'
mappings['First Portuguese Republic'] = 'Portugal'
mappings['Free and Independent State of Cundinamarca'] = 'Colombia'
mappings['French First Republic'] = 'France'
mappings['French Third Republic'] = 'France'
mappings['French colonial empire'] = 'France'
mappings['German Confederation'] = 'Germany'
mappings['German Empire'] = 'Germany'
mappings['Grecia'] = 'Greece'
mappings['Haití'] = 'Haiti'
mappings['Holy Roman Empire'] = 'Italy'
mappings['Hungría'] = 'Hungary'
mappings['Imperio Otomano'] = 'Ottoman Empire'
mappings['Imperio alemán'] = 'Germany'
mappings['Imperio austrohúngaro'] = 'Austria'
mappings['Imperio otomano'] = 'Ottoman Empire'
mappings['Imperio romano'] = 'Italy'
mappings['Imperio ruso'] = 'Russia'
mappings['Irak'] = 'Iraq'
mappings['Irlanda'] = 'Ireland'
mappings['Irán'] = 'Iran'
mappings['Japón'] = 'Japan'
mappings['Kingdom of Great Britain'] = 'United Kingdom'
mappings['Kingdom of Yugoslavia'] = 'Yugoslavia'
mappings['Korea (South)'] = 'South Korea'
mappings['Korea, Republic of'] = 'South Korea'
mappings['Libia'] = 'Libya'
mappings['Lituania'] = 'Lithuania'
mappings['Líbano'] = 'Lebanon'
mappings['Mandato británico de Palestina'] = 'Palestine'
mappings['Mandatory Palestine'] = 'Palestine'
mappings['Marruecos'] = 'Morocco'
mappings['México'] = 'Mexico'
mappings['Noruega'] = 'Norway'
mappings['Palestinian National Authority'] = 'Palestine'
mappings['Palestinian Territory, Occupied'] = 'Palestine'
mappings['Panamá'] = 'Panama'
mappings['Países Bajos'] = 'Netherlands'
mappings['Perú'] = 'Peru'
mappings['Polonia'] = 'Poland'
mappings['Reino Unido'] = 'United Kingdom'
mappings['Reino de Inglaterra'] = 'England'
mappings['Reino de Prusia'] = 'Prussia'
mappings['Reino de Yugoslavia'] = 'Yugoslavia'
mappings['República Checa'] = 'Czech Republic'
mappings['República romana'] = 'Italy'
mappings['Rumania'] = 'Romania'
mappings['Rusia'] = 'Russia'
mappings['Sacro Imperio Romano Germánico'] = 'Germany'
mappings['Second French Empire'] = 'France'
mappings['Second Hellenic Republic'] = 'Greece'
mappings['Second Polish Republic'] = 'Poland'
mappings['Socialist Federal Republic of Yugoslavia'] = 'Yugoslavia'
mappings['Soviet Union'] = 'Russia'
mappings['Spanish Empire'] = 'Spain'
mappings['Sudáfrica'] = 'South Africa'
mappings['Suecia'] = 'Sweden'
mappings['Suiza'] = 'Switzerland'
mappings['Tajik Soviet Socialist Republic'] = 'Tajikistan'
mappings['Territorios Palestinos'] = 'Palestine'
mappings["Ukrainian People's Republic"] = 'Ukraine'
mappings['Ukrainian Soviet Socialist Republic'] = 'Ukraine'
mappings['Unión Soviética'] = 'Russia'
mappings['Uzbekistán'] = 'Uzbekistan'
mappings['Virreinato de Nueva Granada'] = 'Viceroyalty of New Granada'

# Obras por autor

In [ ]:
autores_df

In [15]:
autores_df.groupby('AUTOR')['TITULO'].count().size

21055

In [66]:
obras_por_autor_df = autores_df.set_index('AUTOR')

In [67]:
obras_por_autor_df.shape

(70687, 3)

In [68]:
obras_por_autor_df.head()

,TITULO,PAIS_EJEMPLAR,PAIS_AUTOR
AUTOR,,,
Martina Badstuber,Adivina en qué pais ...,Spain,Germany
Antón Fortes Torres,Humo,Spain,Spain
Helen Cooper,Galleta para perros,Spain,United Kingdom
Cyril Pedrosa,Autobio,Spain,France
Fina Casalderrey,"Félix, : el coleccionista de miedos",Spain,Spain

In [69]:
obras_por_autor_df.ix['Aaron Copland']

,TITULO,PAIS_EJEMPLAR,PAIS_AUTOR
AUTOR,,,
Aaron Copland,Cómo escuchar la música,Colombia,United States of America
Aaron Copland,A Copland celebration chamber music and rariti...,United States,United States of America
Aaron Copland,A Copland celebration famous orchestral and ch...,United States,United States of America
Aaron Copland,A Copland celebration vocal and choral works v...,United States,United States of America
Aaron Copland,Appalachian spring (suite),United Kingdom,United States of America
Aaron Copland,Symphony no.3 (1944-46),United States,United States of America
Aaron Copland,Clarinet Concerto,United States,United States of America
Aaron Copland,Rodeo,United States,United States of America
Aaron Copland,John Henry a railroad ballad for Orchestra,United States,United States of America
Aaron Copland,The tender land,United Kingdom,United States of America

In [70]:
obras_por_autor_df.ix['A. A. Attanasio']

TITULO                El lobo y la corona
PAIS_EJEMPLAR                       Spain
PAIS_AUTOR       United States of America
Name: A. A. Attanasio, dtype: object

In [2]:
def get_pais_autor_data_wkd(name, lang):
    template = """
        PREFIX wd: <http://www.wikidata.org/entity/>
        PREFIX wdt: <http://www.wikidata.org/prop/direct/>
        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

        SELECT ?authorLabel ?countryLabel
        WHERE {{
            BIND("{0}"@{1} AS ?authorLabel) .
            ?author rdfs:label ?authorLabel .
            ?author wdt:P31 wd:Q5 .
            OPTIONAL {{ ?author wdt:P106 wd:Q36180 . }}
            ?author wdt:P19 ?pob .
            ?pob wdt:P17 ?country .
            ?country rdfs:label ?countryLabel .
            FILTER(lang(?countryLabel)="{1}")
        }}
    """
    query = template.format(name, lang)
    url = 'https://query.wikidata.org/bigdata/namespace/wdq/sparql'
    data = requests.get(url, params={'query': query, 'format': 'json'}).json()
    return data

sparql_dbp = SPARQLWrapper("http://dbpedia.org/sparql")

def get_pais_autor_data_dbp(name, lang):
    template = """
        PREFIX dbo: <http://dbpedia.org/ontology/>
        PREFIX dbp: <http://dbpedia.org/property/>
        PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

        SELECT ?authorLabel ?countryLabel
        WHERE {{
            BIND("{0}"@{1} AS ?authorLabel) .
            ?author rdfs:label ?authorLabel .
            ?author rdf:type dbo:Person .
            OPTIONAL {{ ?author rdf:type dbo:Writer . }}
            ?author dbp:birthPlace ?pob .
            ?pob rdf:type dbo:Country .
            ?pob rdfs:label ?countryLabel .
            FILTER(lang(?countryLabel)="{1}")
        }}
    """
    query = template.format(name, lang)
    sparql_dbp.setQuery(query)
    sparql_dbp.setReturnFormat(JSON)
    data = sparql_dbp.query().convert()
    return data

def get_pais_autor_data(db, name, lang):
    try:
        if db == 'wdt':
            data = get_pais_autor_data_wkd(name, lang)
        elif db == 'dbp':
            data = get_pais_autor_data_dbp(name, lang)

        results = set(d['countryLabel']['value'] for d in data['results']['bindings'])
        if len(results) == 0:
            result = 'UNKOWN'
        elif len(results) == 1:
            result = results.pop()
        else:
            print('MáS DE UN PAíS PARA', name, ':', results)
            result = results.pop()
    except:
        print('ERROR EN SPARQL PARA', name)
        result = 'UNKOWN'
    return result

def choose(opt_list):
    return Counter(opt_list).most_common(1)[0][0]

# def get_pais_autor(name):
#     r = 'DESCONOCIDO'
#     opt_dict = {}
#     for lang in ['en', 'es']:
#         opt_dict[lang] = {}
#         for db in ['dbp', 'wdt']:
#             opt_dict[lang][db] = get_pais_autor_data(db, name, lang)
#         opts = opt_dict[lang].values()
#         if all(map(lambda x: x != 'UNKOWN', opts)):
#             r = choose(opts)
#             break
#     if r == 'DESCONOCIDO':
#         for lang in ['en', 'es']:
#             opts = opt_dict[lang].values()
#             if any(map(lambda x: x != 'UNKOWN', opts)):
#                 opts = [opt for opt in opts if opt != 'UNKOWN']
#                 r = choose(opts)
#                 break
#     return opt_dict, r

def get_pais_autor(name):
    for lang in ['en', 'es']:
        for db in ['dbp', 'wdt']:
            r = get_pais_autor_data(db, name, lang)
            if r != 'UNKOWN':
                return r
    return 'DESCONOCIDO'

In [3]:
get_pais_autor('Mario Gómez Torrente')

'DESCONOCIDO'

In [83]:
get_pais_autor('Aristóteles')

'Grecia'

In [84]:
get_pais_autor('Miguel de Cervantes')

'Spain'

In [85]:
get_pais_autor('Aristóteles')

'Grecia'

In [54]:
autores_df[autores_df['PAIS_AUTOR'] == 'DESCONOCIDO']['AUTOR'].nunique()

122892

In [55]:
prestamos_df['AUTOR'].nunique()

148860

In [57]:
148860 - 122892

25968