# Normalize names

In [2]:
import csv
import os
import re
from collections import defaultdict
from collections import Counter
from datetime import datetime
from datetime import timedelta
from string import punctuation

import matplotlib
import numpy as np
import networkx as nx
import pandas as pd
import requests
import seaborn as sns
from matplotlib import pyplot as plt
from SPARQLWrapper import SPARQLWrapper, JSON

# Autores

In [3]:
%%time

dtypes = {
    'TITULO': str,
    'AUTOR': str,
    'PAIS_EJEMPLAR': str,
    'PAIS_AUTOR': str,
}

autores_df = pd.read_csv('autores2.csv', header=0, dtype=dtypes)
autores_df = autores_df.fillna('')

CPU times: user 5.52 s, sys: 595 ms, total: 6.12 s
Wall time: 6.44 s

In [4]:
autores_df.shape

(3054360, 4)

In [5]:
autores_df.head()

,TITULO,PAIS_EJEMPLAR,AUTOR,PAIS_AUTOR
0,Un bicho extraño,Spain,Mon Daporta,DESCONOCIDO
1,Un bicho extraño,Spain,Mon Daporta,DESCONOCIDO
2,Quisiera tener ...,Mexico,Giovanna Zoboli,DESCONOCIDO
3,Johannes Gutenberg,Spain,Lluís Borràs Perelló,DESCONOCIDO
4,La fantástica leyenda de: la princesa y el dragón,Spain,Sonia Alins,DESCONOCIDO

## Normalize

In [6]:
def norm(s):
    return s \
        .replace('á', 'a') \
        .replace('à', 'a') \
        .replace('é', 'e') \
        .replace('è', 'e') \
        .replace('í', 'i') \
        .replace('ì', 'i') \
        .replace('ó', 'o') \
        .replace('ò', 'o') \
        .replace('ú', 'u') \
        .replace('ù', 'u')

In [7]:
name_dict = {}
name_counts = autores_df['AUTOR'].value_counts()

for i, x in autores_df.iterrows():
    name = x['AUTOR']
    normalized = norm(name)
    if normalized != name and normalized in name_counts:
        name_count = 
        comparar pais DESCONOCIDO y quien es mas frecuente

In [8]:
'Miguel de Cervantes' in name_counts

False

In [9]:
'Miguel de Cervantes Saavedra' in name_counts

True

In [11]:
name_counts.get('Miguel de Cervantes', 0)

0

In [12]:
name_counts.get('Miguel de Cervantes Saavedra', 0)

2746

# Saving results

In [15]:
autores_df.to_csv('autores3.csv', index=False)