# Geolocation

In [2]:
import csv
import os
import re
from collections import defaultdict
from collections import Counter
from datetime import datetime
from datetime import timedelta
from string import punctuation

import matplotlib
import numpy as np
import networkx as nx
import pandas as pd
import requests
import seaborn as sns
from geolocation.main import GoogleMaps
from matplotlib import pyplot as plt
from SPARQLWrapper import SPARQLWrapper, JSON

from googlemaps_key import KEY

# Autores

In [2]:
%%time

dtypes = {
    'TITULO': str,
    'AUTOR': str,
    'PAIS_EJEMPLAR': str,
    'PAIS_AUTOR': str,
}

autores_df = pd.read_csv('autores5.csv', header=0, dtype=dtypes)
autores_df = autores_df.fillna('')

CPU times: user 143 ms, sys: 23.7 ms, total: 167 ms
Wall time: 166 ms

In [3]:
autores_df.shape

(76722, 4)

In [4]:
autores_df.head()

,TITULO,PAIS_EJEMPLAR,AUTOR,PAIS_AUTOR
0,Adivina en qué pais ...,Spain,Martina Badstuber,Germany
1,¡No quiero hacer pipí en el orinal!,Spain,Roser Rius,Mexico
2,Humo,Spain,Antón Fortes Torres,Spain
3,Galleta para perros,Spain,Helen Cooper,United Kingdom
4,Autobio,Spain,Cyril Pedrosa,France

# Places

In [20]:
autores_df['PAIS_AUTOR'].nunique()

244

In [21]:
autores_df['PAIS_EJEMPLAR'].nunique()

121

In [23]:
places = set(autores_df['PAIS_AUTOR'].unique()).union(autores_df['PAIS_EJEMPLAR'].unique())

In [24]:
len(places)

292

In [3]:
google_maps = GoogleMaps(api_key=KEY)

In [54]:
locs = {} # (lat, lng)

# for x in places:
for x in ['Spain']:
    try:
        locations = google_maps.search(location=x)
        if len(locations) > 1:
            print('MORE THAN ONE LOCATION:', x)
        location = locations.first()
        locs[x] = (location.lat, location.loc)
    except:
        print('NOT LOCATED:', x)
    break

NOT LOCATED: Spain

In [16]:
l=google_maps.search(location='Czechoslovakia')

In [17]:
x=l.first()

In [18]:
x

In [19]:
l.list_data

In [20]:
x.lat

14.4803708

In [21]:
x.lng

121.0390178

# Saving results

In [8]:
# autores_df.to_csv('autores6.csv', index=False)