In [1]:
import csv
import os
from collections import defaultdict
from datetime import datetime
from datetime import timedelta
from string import punctuation

import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from pandas.tslib import Timestamp

# Preprocesamiento de datos

## Préstamos

In [2]:
os.listdir('prestamos_csv')

['PRESTAMOS_EXTERNOS_2015.csv',
 'PRESTAMOS_EXTERNOS_2013.csv',
 'PRESTAMOS_EXTERNOS_2012.csv',
 'PRESTAMOS_EXTERNOS_2014.csv',
 'PRESTAMOS_EXTERNOS_2016.csv']

In [3]:
total_colums_1 = [
    # Ejemplar
    'TITULO', 'AUTOR', 'EDITORIAL', 'SUCURSAL', 'DESC_SUCURSAL', 'COD_BARRAS_LIBRO', 'NUM_TITULO', 'SIG_TOPOGRAFICA',
    'DEWEY', 'II_SUMARIO', 'I_SUMARIO', 'EDICION', 'LOCALIZACION_EJEMPLAR', 'DESC_LOCALIZACION_EJEMPLAR', 'POLITICA',
    'DESC_POLITICA_EJEMPLAR', 'ISBN', 'FECHA_REGISTRO_EJEMPLAR', 'FECHA_ADICION_EJEMPLAR', 'FECHA_PUB',
    'ESTADO_EJEMPLAR', 'PAIS_EJEMPLAR',
    # Usuario (I)
    'OCUPACION', 'NIVEL_EDUCACION', 'AREA_ESTUDIO',
    # Prestamo (I)
    'SUCURSAL_PRESTAMO', 'SUCURSAL_DEVOLUCION',
    # Usuario (II)
    'SUCURSAL_DEL_LECTOR', 'COD_BARRAS_LECTOR', 'CATEGORÍA',
    # Prestamo (II)
    'FECHA_PRESTAMO', 'FECHA_REAL_DEVOLUCION',
]

In [4]:
%%time

dtypes = {
    'TITULO': str,
    'AUTOR': str,
    'SUCURSAL': str,
    'COD_BARRAS_LIBRO': str,
    'DEWEY': str,
    'DESC_LOCALIZACION_EJEMPLAR': str,
    'FECHA_PUB': str,
    'PAIS_EJEMPLAR': str,
    'OCUPACION': str,
    'NIVEL_EDUCACION': str,
    'AREA_ESTUDIO': str,
    'SUCURSAL_PRESTAMO': str,
    'SUCURSAL_DEVOLUCION': str,
    'SUCURSAL_DEL_LECTOR': str,
    'COD_BARRAS_LECTOR': str,
    'CATEGORÍA': str,
    'FECHA_PRESTAMO': str,
    'FECHA_REAL_DEVOLUCION': str,
    'DATE_PRESTAMO': pd.tslib.Timestamp,
    'DATE_DEVOLUCION': pd.tslib.Timestamp,
}

prestamos_df = pd.read_csv('prestamos_totales.csv', header=0, dtype=dtypes, parse_dates=['DATE_PRESTAMO', 'DATE_DEVOLUCION'])
prestamos_df = prestamos_df.fillna('')

CPU times: user 21.8 s, sys: 632 ms, total: 22.4 s
Wall time: 22.4 s

In [5]:
user_columns_aux = [
    'OCUPACION', 'NIVEL_EDUCACION', 'AREA_ESTUDIO', 'SUCURSAL_DEL_LECTOR', 'COD_BARRAS_LECTOR', 'CATEGORÍA',
    'DATE_PRESTAMO',
]
prestamos_df = prestamos_df[user_columns_aux]

In [6]:
prestamos_df.shape

(3054360, 7)

In [7]:
prestamos_df.head()

,OCUPACION,NIVEL_EDUCACION,AREA_ESTUDIO,SUCURSAL_DEL_LECTOR,COD_BARRAS_LECTOR,CATEGORÍA,DATE_PRESTAMO
0,,,,ARM,88429527,CTA,2015-01-22
1,,,,ARM,88416381,CTA,2015-03-31
2,,,,ARM,88381353,CTA,2015-11-07
3,Empleado,Técnico,Adm. de empresas,ARM,88007424,CEM,2015-01-16
4,,,,ARM,88429529,CTA,2015-01-21

In [8]:
prestamos_df = prestamos_df \
    .sort_values(['COD_BARRAS_LECTOR', 'DATE_PRESTAMO'], ascending=False) \
    .groupby('COD_BARRAS_LECTOR') \
    .head(1)

In [9]:
user_columns = [
    'OCUPACION', 'NIVEL_EDUCACION', 'AREA_ESTUDIO', 'SUCURSAL_DEL_LECTOR', 'COD_BARRAS_LECTOR', 'CATEGORÍA',
]
prestamos_df = prestamos_df[user_columns]
prestamos_df.sort_index(inplace=True)

In [10]:
prestamos_df.head()

,OCUPACION,NIVEL_EDUCACION,AREA_ESTUDIO,SUCURSAL_DEL_LECTOR,COD_BARRAS_LECTOR,CATEGORÍA
0,,,,ARM,88429527,CTA
4,,,,ARM,88429529,CTA
12,Docente,Postgrado,Psicología,ARM,88209238,CTF
19,Estudiante,,,ARM,88439347,CTB
22,,,,ARM,88429493,CTA

#### OCUPACION

In [11]:
%%time

def process_ocupacion(x):
    try:
        r = x['OCUPACION'].strip().lower()
    except:
        r = x['OCUPACION']
    return r

prestamos_df['OCUPACION'] = prestamos_df.apply(process_ocupacion, axis=1)

CPU times: user 4.09 s, sys: 0 ns, total: 4.09 s
Wall time: 4.09 s

#### NIVEL_EDUCACION

In [12]:
%%time

def process_nivel_educacion(x):
    try:
        r = x['NIVEL_EDUCACION'].strip().lower()
    except:
        r = x['NIVEL_EDUCACION']
    return r

prestamos_df['NIVEL_EDUCACION'] = prestamos_df.apply(process_nivel_educacion, axis=1)

CPU times: user 4.1 s, sys: 0 ns, total: 4.1 s
Wall time: 4.1 s

#### AREA_ESTUDIO

In [13]:
%%time

def process_area_estudio(x):
    try:
        r = x['AREA_ESTUDIO'].strip().lower()
    except:
        r = x['AREA_ESTUDIO']
    return r

prestamos_df['AREA_ESTUDIO'] = prestamos_df.apply(process_area_estudio, axis=1)

CPU times: user 3.97 s, sys: 0 ns, total: 3.97 s
Wall time: 3.97 s

In [14]:
prestamos_df.to_csv('ultimos_prestamos.csv', index=False)