# Usuarios y títulos

In [1]:
import ast
import csv
import itertools
import os
import re
from collections import Counter
from collections import defaultdict
from datetime import datetime
from datetime import timedelta
from string import punctuation

import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from pandas.tslib import Timestamp

## Préstamos

In [2]:
%%time

prestamos_df = pd.read_csv('prestamos_paises_limpios.csv', header=0)
prestamos_df = prestamos_df.fillna('')

CPU times: user 17 s, sys: 816 ms, total: 17.8 s
Wall time: 17.8 s

In [3]:
prestamos_df.shape

(3054360, 20)

In [4]:
prestamos_df.head()

,TITULO,AUTOR,SUCURSAL,COD_BARRAS_LIBRO,DEWEY,DESC_LOCALIZACION_EJEMPLAR,FECHA_PUB,PAIS_EJEMPLAR,OCUPACION,NIVEL_EDUCACION,AREA_ESTUDIO,SUCURSAL_PRESTAMO,SUCURSAL_DEVOLUCION,SUCURSAL_DEL_LECTOR,COD_BARRAS_LECTOR,CATEGORÍA,FECHA_PRESTAMO,FECHA_REAL_DEVOLUCION,DATE_PRESTAMO,DATE_DEVOLUCION
0,Un bicho extraño,"Daporta, Mon.",ARM,2298061,863,Infantil,2010,Spain,,,,ARM,ARM,ARM,88429527,CTA,22/01/2015,04/02/2015,2015-01-22,2015-02-04
1,Un bicho extraño,"Daporta, Mon.",ARM,2298061,863,Infantil,2010,Spain,,,,ARM,ARM,ARM,88416381,CTA,31/03/2015,07/04/2015,2015-03-31,2015-04-07
2,Quisiera tener ...,"Zoboli, Giovanna.",ARM,2284458,853,Infantil,2010,Mexico,,,,ARM,ARM,ARM,88381353,CTA,07/11/2015,17/11/2015,2015-11-07,2015-11-17
3,Johannes Gutenberg,"Borràs Perelló, Lluís.",ARM,2288922,925,Infantil,2010,Spain,Empleado,Técnico,Adm. de empresas,ARM,ARM,ARM,88007424,CEM,16/01/2015,16/01/2015,2015-01-16,2015-01-16
4,La fantástica leyenda de: la princesa y el dragón,"Alins, Sonia.",ARM,2288896,863,Infantil,2010,Spain,,,,ARM,ARM,ARM,88429529,CTA,21/01/2015,28/01/2015,2015-01-21,2015-01-28

## Columnas útiles

In [5]:
prestamos_cols = [
    'TITULO',
    'AUTOR',
#     'SUCURSAL',
#     'COD_BARRAS_LIBRO',
    'DEWEY',
#     'DESC_LOCALIZACION_EJEMPLAR',
    'FECHA_PUB',
    'PAIS_EJEMPLAR',
#     'OCUPACION',
#     'NIVEL_EDUCACION',
#     'AREA_ESTUDIO',
#     'SUCURSAL_PRESTAMO',
#     'SUCURSAL_DEVOLUCION',
#     'SUCURSAL_DEL_LECTOR',
    'COD_BARRAS_LECTOR',
#     'CATEGORÍA',
#     'FECHA_PRESTAMO',
#     'FECHA_REAL_DEVOLUCION',
#     'DATE_PRESTAMO',
#     'DATE_DEVOLUCION',
]

In [6]:
prestamos_df = prestamos_df[prestamos_cols]

In [7]:
prestamos_df.shape

(3054360, 6)

## Valores en blanco

#### TITULO

In [8]:
len(prestamos_df[prestamos_df.TITULO == ''])

6

#### AUTOR

In [9]:
len(prestamos_df[prestamos_df.AUTOR == ''])

409373

#### DEWEY

In [10]:
len(prestamos_df[prestamos_df.DEWEY == ''])

146

#### FECHA_PUB

In [11]:
len(prestamos_df[prestamos_df.FECHA_PUB == 0])

4859

#### PAIS_EJEMPLAR

In [12]:
len(prestamos_df[prestamos_df.PAIS_EJEMPLAR == 'DESCONOCIDO'])

86413

## Resultados finales

In [13]:
prestamos_df.to_csv('prestamos_limpios.csv', index=False)