# Usuarios y títulos

In [1]:
import ast
import csv
import itertools
import os
import re
from collections import Counter
from collections import defaultdict
from datetime import datetime
from datetime import timedelta
from string import punctuation

import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from pandas.tslib import Timestamp

## Préstamos

In [2]:
%%time

prestamos_df = pd.read_csv('prestamos_limpios.csv', header=0)
prestamos_df = prestamos_df.fillna('')

CPU times: user 5.55 s, sys: 421 ms, total: 5.97 s
Wall time: 6 s

In [3]:
prestamos_df.shape

(3054360, 6)

In [4]:
prestamos_df.head()

,TITULO,AUTOR,DEWEY,FECHA_PUB,PAIS_EJEMPLAR,COD_BARRAS_LECTOR
0,Un bicho extraño,"Daporta, Mon.",863,2010,Spain,88429527
1,Un bicho extraño,"Daporta, Mon.",863,2010,Spain,88416381
2,Quisiera tener ...,"Zoboli, Giovanna.",853,2010,Mexico,88381353
3,Johannes Gutenberg,"Borràs Perelló, Lluís.",925,2010,Spain,88007424
4,La fantástica leyenda de: la princesa y el dragón,"Alins, Sonia.",863,2010,Spain,88429529

## Perfiles 2016

In [5]:
%%time

dtypes = {
    'CODBAR': int,
    'Sucursal': str,
    'Tratamiento': str,
    'Edad': int,
    'Rango_edad': 'category',
}

perfiles_df = pd.read_csv(
    'usuarios_2016.csv', header=0, dtype=dtypes)

CPU times: user 34.5 ms, sys: 0 ns, total: 34.5 ms
Wall time: 33.5 ms

In [6]:
perfiles_df.shape

(39172, 6)

In [7]:
perfiles_df.head()

     CODBAR Sucursal Tratamiento  Edad   Ciudad Rango_edad
0  88183608     BLAA        sra.    59   Bogotá      50-64
1  88182347      ARM         sr.    53  Armenia      50-64
2  88183786     BLAA         sr.    49   Bogotá      40-49
3  88185891     BLAA         sr.    56   Bogotá      50-64
4  88009796     BLAA         sr.    62   Bogotá      50-64

## Mezcla

### Merge

In [8]:
mezcla_df = pd.merge(
    prestamos_df,
    perfiles_df,
    left_on='COD_BARRAS_LECTOR',
    right_on='CODBAR',
)

In [9]:
mezcla_df.shape

(516206, 12)

In [10]:
mezcla_df.head()

,TITULO,AUTOR,DEWEY,FECHA_PUB,PAIS_EJEMPLAR,COD_BARRAS_LECTOR,CODBAR,Sucursal,Tratamiento,Edad,Ciudad,Rango_edad
0,Johannes Gutenberg,"Borràs Perelló, Lluís.",925,2010,Spain,88007424,88007424,ARM,sr.,43,Armenia,40-49
1,Genealogía de una bruja,"Lacombe, Benjamin, 1982-",843,2009,Spain,88007424,88007424,ARM,sr.,43,Armenia,40-49
2,La independencia de Colombia : así fue,"Vasco, Irene, 1952-",986,2009,Colombia,88007424,88007424,ARM,sr.,43,Armenia,40-49
3,Maravillas del mundo,"Steele, Philip.",910,2007,Mexico,88007424,88007424,ARM,sr.,43,Armenia,40-49
4,No te gustaría ser un adivino maya,"Matthews, Rupert.",972,2008,Colombia,88007424,88007424,ARM,sr.,43,Armenia,40-49

## Resultados finales

In [11]:
mezcla_df.to_csv('merge.csv', index=False)